<div class="container">
    <form>
      <div class="mb-3 row">
        <label for="inputName" class="col-xs-4 col-form-label">username</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" name="inputName" id="inputName" placeholder="username">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputName" class="col-xs-4 col-form-label">password</label>
        <div class="col-xs-8">
          <input type="password" class="form-control" name="inputName" id="inputName" placeholder="password">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputName" class="col-xs-4 col-form-label">confirm password</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" name="inputName" id="inputName" placeholder="password">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputName" class="col-xs-4 col-form-label">mobile number</label>
        <div class="col-xs-8">
          <input type="number" class="form-control" name="inputName" id="inputName" placeholder="mobile number">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputName" class="col-xs-4 col-form-label">email</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" name="inputName" id="inputName" placeholder="email">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputName" class="col-xs-4 col-form-label">address</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" name="inputName" id="inputName" placeholder="address">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
          <button type="submit" class="btn btn-primary">register</button>&nbsp;
          <button type="reset" class="btn btn-primary">reset</button>
        </div>
      </div>
    </form>
  </div>
